<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\php-8.4.2\php-cgi.exe" resourceType="File" />
        </handlers>
        <directoryBrowse enabled="false" />
        <fastCgi>
            <application fullPath="C:\Program Files\php-8.4.2\php-cgi.exe">
                <environmentVariables>
                    <environmentVariable name="OPENSSL_CONF" value="C:\Program Files\OpenSSL-Win64\bin\openssl.cfg" />
                    <environmentVariable name="PATH" value="%PATH%;C:\Program Files\OpenSSL-Win64\bin" />
                    <environmentVariable name="OPENSSL_MODULE_PATH" value="C:\Program Files\OpenSSL-Win64\bin" />
                </environmentVariables>
            </application>
        </fastCgi>
        
    </system.webServer>
</configuration>
